# general cross-server admin configs

steam-api-key: FFFFFFFFFFFFCCCCCCAAAAAABBBBBB

admin-users:
  76561199999999999: Bredroll
  76561199999999999: Kazzik

backends:
  my-server:
    host: https://localhost:40441/
    key: certs/client.key
    cert: certs/client.crt
    ca: certs/ca.crt