{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Server Status</h1>
    <table class="props">
    <tr>
        <th>Name:</th>
        <td>{{ context.status.server_name }}</td>
    </tr>
    <tr>
        <th>Status:</th>
        <td>{{ context.status.status }}</td>
    </tr>
    <tr>
        <th>Island Count:</th>
        <td>{{ context.status.settings.islands }}</td>
    </tr>
    <tr>
        <th>Blueprints:</th>
        <td>{{ blueprints(context.status.settings.blueprints).name }}</td>
    </tr>
    <tr>
        <th>Loadout:</th>
        <td>{{ loadout(context.status.settings.loadout_type).name }}</td>
    </tr>
    <tr>
        <th>Mods:</th>
        <td>
            <ul>
                {% for mod in context.status.settings.mods_list %}
                    <li>{{ mod }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <th>Players:</th>
        <td>
            <ul>
            {% for team, players in context.status.players |dictsort %}
                <li>
                    Team {{ team }}
                    <ul>
                        {% for player in players %}
                            <li>{{ player }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    </table>
{% endblock %}