{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block heading %}Server Status{% endblock %}

{% block content %}

    <table>
        <tr>
            <td style="vertical-align: top">
                <table class="props">
                    <tr>
                        <th>Name:</th>
                        <td>{{ context.status.server_name }}</td>
                    </tr>
                    <tr>
                        <th>Status:</th>
                        <td>{{ context.status.status }}
                        </td>
                    </tr>
                    <tr>
                        <th>Access:</th>
                        {% if context.status.settings.password %}
                            <td>Password</td>
                        {% else %}
                            <td>Public</td>
                        {% endif %}
                    </tr>

                    {% if steam_id %}
                        <tr>
                            <th>Admin Actions:</th>
                            <td>
                                {% if context.status.status == "Stopped" %}
                                    <form action="/action/start" method="post">
                                        <button>Start</button>
                                    </form>
                                {% elif context.status.status == "Running" %}
                                    <form action="/action/stop" method="post">
                                        <button>Stop</button>
                                    </form>
                                {% endif %}
                                <a href="/settings">
                                    <button>Settings</button>
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                    {% if context.status.settings %}
                        {% if context.status.settings.save_name == "" %}
                            <tr>
                                <th>Island Count:</th>
                                <td>{{ context.status.settings.island_count }}</td>
                            </tr>
                            <tr>
                                <th>Blueprints:</th>
                                <td>{{ blueprints(context.status.settings.blueprints).name }}</td>
                            </tr>
                            <tr>
                                <th>Loadout:</th>
                                <td>{{ loadout(context.status.settings.loadout_type).name }}</td>
                            </tr>
                            <tr>
                                <th>Max Players:</th>
                                <td>{{ context.status.settings.max_players }}</td>
                            </tr>
                            <tr>
                                <th>Human Teams:</th>
                                <td>{{ context.status.settings.team_count_human }}</td>
                            </tr>
                            <tr>
                                <th>Starting Islands per team:</th>
                                <td>{{ context.status.settings.island_count_per_team }}</td>
                            </tr>
                            <tr>
                                <th>Carriers per team:</th>
                                <td>{{ context.status.settings.carrier_count_per_team }}</td>
                            </tr>
                            <tr>
                                <th>AI carriers:</th>
                                <td>{{ context.status.settings.team_count_ai }}</td>
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <th>Saved Map:</th>
                            <td>{{ context.status.settings.save_name }}</td>
                        </tr>
                    {% endif %}
                </table>
            </td>
            <td style="vertical-align: top; padding-left: 1cm;">
                <table class="props">
                    <tr>
                        <th>Mods:</th>
                        <td>
                            <ul>
                                {% for mod in context.status.settings.mods_list %}
                                    <li>{{ mod }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Players:</th>
                        <td>
                            <ul>
                                {% for team, players in context.status.players |dictsort %}
                                    <li>
                                        Team {{ team }}
                                        <ul>
                                            {% for player in players %}
                                                <li>{{ player }}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}