{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block heading %}Carrier Command 2 Servers{% endblock %}

{% block content %}

    <table>
    <tr>
        <th>
            ID
        </th>
        <th>
            CC2 Server
        </th>
        <th style="min-width: 10em;">
            Status
        </th>
        <th>
            Options
        </th>
    </tr>
    {% for name, ctx in servers.items() %}
    <tr>
        <td>
            {{ name }}
        </td>
        <td style="padding-left: 1em">
            {{ ctx.server_name() }}
        </td>
        <td style="padding-left: 1em">
            {{ ctx.status.status }}
        </td>
        <td>
            {% if username %}
                <a href="/home/{{ name }}/"><button>Manage</button></a>
            {% else %}
                <a href="/home/{{ name }}/"><button>View</button></a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}