<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CC2 Admin : {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cc2.css') }}">
</head>
<body>
    <div id="content">
        <h1>{% block heading %}{% endblock %}</h1>
        <table style="width: 90%">
            <tr>
                <td style="text-align: left;">
                    <a href="/"><button>Teams</button></a>
                    <a href="/events"><button>Events</button></a>
                    {% if user %}
                    <a href="/players"><button>Players</button></a>

                    <!--
                    <a href="/events"><button disabled="disabled">Events</button></a>
                    -->
                    {% endif %}
                </td>
                <td style="text-align: right; vertical-align: middle">
                {% if steam_id %}
                    <span>Logged in as <a href="/player/{{steam_id}}">{{ username }}</a></span>
                    {% if avatar %}
                        <img src="{{ avatar }}"/>
                    {% endif %}
                    <a href="/logout"><button>Logout</button></a>
                {% else %}
                    <a href="/login"><button>Login</button></a>
                {% endif %}
                </td>
            </tr>
        </table>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>