{% extends "base.html" %}
{% block title %}CC2 Event - {{ event.name }}{% endblock %}
{% block heading %}CC2 Fleet Database{% endblock %}

{% block content %}
<h3>Event</h3>
<table style="min-width: 95%">
    <tr>
        <th>Name:</th>
        <td>{{event.name}}
            {% if event.ended %}
            - (ended)
            {% endif %}
        </td>
    </tr>
    {% if event.start %}
    <tr>
        <th>Start at:</th>
        <td>{{event.start}}</td>
    </tr>
    <tr>
        <th>Length:</th>
        <td>{{event.duration.seconds // 60}} minutes</td>
    </tr>
    {% endif %}
    <tr>
        <th>Public:</th>
        <td style="vertical-align: text-before-edge">
            {% if event.public %}
            <form method="post" action="/confirm/event/{{event.id}}/public/private/1">Public <button>Set Private</button></form>
            {% else %}
            <form method="post" action="/confirm/event/{{event.id}}/public/public/1">Private <button>Set Public</button></form>
            {% endif %}
        </td>
    </tr>
    {% if user %}
    <tr>
        <th>Options:</th>
        <td>
            {% if event.can_manage(user) %}
            <form method="post" action="/confirm/event/{{event.id}}/delete"><button>Delete Event</button></form>

            {% endif %}
        </td>
    </tr>
    {% endif %}
    <tr>
        <th>Players per team:</th>
        <td>{{event.team_size}}</td>
    </tr>

    <tr>
        <td colspan="2">
            <table style="min-width: 99%">
                <tr>
                    {% for team in event.event_teams %}
                    <th>
                        {{ team.name }}
                    </th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for team in event.event_teams %}
                    <td style="vertical-align: top">
                        {% if user and not event.ended %}
                            {% if event.can_leave(team, user) %}

                        <form method="post" action="/event/{{event.id}}/leave"><button>Leave Team</button></form>
                            {% else %}
                                {% if event.can_join(team, user) %}
                        <form method="post" action="/event/{{event.id}}/join/{{team.id}}"><button>Join Team</button></form>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <div>
                        {% if user and user.admin %}
                            <form method="post" action="/admin/eventteam/{{team.id}}/add">
                            <input size="7" type="text" name="add_steam_player">
                            <button type="submit" class="small">+</button>
                            </form>
                            <hr>
                        {% endif %}

                            <table>
                        {% for player in team.players|sort %}
                                <tr>
                                    <td>
                                        {% if event.can_manage(user) %}
                                        <form method="post" action="/event/{{event.id}}/remove/{{player.steam_id}}"><button class="small">X</button></form>
                                        {% endif %}
                                    </td>
                                    <td><img src="{{player.avatar}}"/></td>
                                    <td><a href="/player/{{player.steam_id}}">{{ player.personaname }}</a></td>
                                </tr>
                        {% endfor %}

                        {% for player in team.pending_players|sort %}
                                <tr>
                                    <td>
                                        {% if event.can_manage(user) %}
                                        <form method="post" action="/event/{{event.id}}/remove/{{player.steam_id}}"><button class="small">X</button></form>
                                        {% endif %}
                                    </td>
                                    <td><img src="{{player.avatar}}"/></td>
                                    <td><a href="/player/{{player.steam_id}}">{{ player.personaname }}</a> (Reserve)</td>
                                </tr>
                        {% endfor %}
                            </table>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
            </table>
        </td>
    </tr>

</table>

{% endblock %}