{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block heading %}CC2 Fleet Database{% endblock %}

{% block content %}

<table class="teams">
    <tr>
        <th>Team</th>
        <th>Members</th>
        <th>Actions</th>
    </tr>

    {% for teamname, team in db.playerteams|dictsort %}
    <tr>
        <td style="vertical-align: top; min-width: 2in;">
            <a href="/team/{{teamname}}">{{ teamname }}</a>
        </td>
        <td style="vertical-align: top">
            {% for player in team.get_member_players()|sort %}
            <table class="player">
                <tr>
                    <td><img src="{{player.avatar}}"/></td>
                    <td><a href="/player/{{player.steam_id}}">{{ player.personaname }}</a></td>
                </tr>
            </table>
            {% endfor %}
        </td>
        <td style="vertical-align: top">
            {% if user %}
                {% if user.admin %}
                    <button>Manage</button><br/>
                {% endif %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}

</table>


{% endblock %}