{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block heading %}CC2 Fleet Database{% endblock %}

{% block content %}

<table class="teams">
    <tr>
        <th style="width: 2in">Team</th>
        <th>Members</th>
    </tr>

    {% for team in db.playerteams.values()|sort %}
    {% if team.public %}
    <tr>
        <td style="vertical-align: top; min-width: 2in;">
            <a href="/team/{{team.id}}">{{ team.name }}</a>
        </td>
        <td style="vertical-align: top">
            <table class="player">
                {% for player in team.players|sort %}
                <tr>
                    <td><img src="{{player.avatar}}"/></td>
                    <td><a href="/player/{{player.steam_id}}">{{ player.personaname }}</a></td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    {% endif %}
    {% endfor %}

</table>


{% endblock %}