{% extends "base.html" %}
{% block title %}CC2 Players{% endblock %}
{% block heading %}CC2 Fleet Database{% endblock %}

{% block content %}
<h3>Players</h3>
{% if user and user.admin %}
<form method="post" action="/admin/player/add">
    <input type="text" name="add_steam_player">
    <button type="submit">Add Player (admin)</button>
</form>
<hr>

{% endif %}
<table>
    {% for player in players|sort %}
    <tr>
        <td><img src="{{player.avatar}}"/></td>
        <td><a href="/player/{{player.steam_id}}">{{ player.personaname }}</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}